<div class="home-banner" style="background-image: url('<%= image_path('sky-background.jpg') %>'); background-size: cover; background-position: center; ">
  <div>
    <div>
      <h1>CAT OXLEY</h1>
      <p class="tagline text-center">Web Developer</p>
    </div>
    <div class="pink-caret text-center" style="margin-top: 100px">
      <a data-scroll href="#aboutme" class="hvr-hang">
        <%= image_tag('pink-caret.png') %>
      </a>
    </div>
  </div>
</div>

<div id="aboutme">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-6 hidden-xs">
        <div class="left-photo">
          <%= image_tag('photo-of-cat.jpg') %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="biography">
          <h2>Hi, I'm Cat.</h2>
          <p> I'm a junior full-stack developer with a particularly soft spot for front end development. I love all things design and code and I’m always striving to learn new languages and skills. <br><br> My technical stack includes Ruby (on Rails), PostgreSQL and MVC-pattern architecture, but my favourite areas are JavaScript/jQuery, HTML5 and CSS (Sass). <br><br> When I'm not coding I'm drawing, cooking or learning a new language. In the past I've lived in beautiful France and Portugal, but I'm currently based in London. </p>
          <%= image_tag('photo-of-cat.jpg', class: "visible-xs", style: "width: 100vw; height:40vh; object-fit: cover;")%>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="text-center pink-caret" style="margin-top: 40px">
          <%= link_to '#skills', class: "hvr-hang" do %>
            <%= image_tag('pink-caret.png') %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="skills-box" id="skills">
  <h1 class="text-center">My Skills</h1>

  <div class="container">

    <div class="row">
      <div class="col-sm-6 skills-list">
        <ul>
          <li>HTML5
          <div> <% 4.times do %> <i class="fa fa-circle"></i> <% end %> <i class="fa fa-circle-thin"></i></div></li>
          <li>CSS3
          <div> <% 4.times do %> <i class="fa fa-circle"></i><% end %> <i class="fa fa-circle-thin"></i></div></li>
          <li>Bootstrap
          <div> <% 4.times do %> <i class="fa fa-circle"></i> <% end %> <i class="fa fa-circle-thin"></i></div></li>
          <li>Ruby
          <div> <% 4.times do %> <i class="fa fa-circle"></i> <% end %> <i class="fa fa-circle-thin"></i></div></li>
          <li>SQL
          <div> <% 4.times do %> <i class="fa fa-circle"></i> <% end %> <i class="fa fa-circle-thin"></i></div></li>
          <li>Sass
          <div> <% 4.times do %> <i class="fa fa-circle"></i> <% end %> <i class="fa fa-circle-thin"></i></div></li>
          <li>Sketch
           <div> <% 3.times do %> <i class="fa fa-circle"></i> <% end %> <% 2.times do %> <i class="fa fa-circle-thin"> </i> <% end %> </div></li>
          <li>JavaScript
          <div> <% 3.times do %> <i class="fa fa-circle"></i> <% end %> <% 2.times do %> <i class="fa fa-circle-thin"> </i> <% end %> </div></li>
          <li>jQuery
          <div> <% 3.times do %> <i class="fa fa-circle"></i> <% end %> <% 2.times do %> <i class="fa fa-circle-thin"> </i> <% end %> </div></li>
        </ul>
      </div>
      <div class="col-sm-6 skills-list">
        <ul>
          <li>Rails
          <div> <% 4.times do %> <i class="fa fa-circle"></i> <% end %> <i class="fa fa-circle-thin"> </i> </div> </li>
          <li>MVC
          <div> <% 4.times do %> <i class="fa fa-circle"></i> <% end %> <i class="fa fa-circle-thin"> </i> </div></li>
          <li>Sinatra
          <div> <% 3.times do %> <i class="fa fa-circle"></i> <% end %> <% 2.times do %> <i class="fa fa-circle-thin"> </i> <% end %> </div></li>
          <li>Command line
          <div> <% 3.times do %> <i class="fa fa-circle"></i> <% end %> <% 2.times do %> <i class="fa fa-circle-thin"> </i> <% end %> </div></li>
          <li>OOP
          <div> <% 3.times do %> <i class="fa fa-circle"></i> <% end %> <% 2.times do %> <i class="fa fa-circle-thin"> </i> <% end %> </div></li>
          <li>Wordpress
          <div> <% 2.times do %> <i class="fa fa-circle"></i> <% end %> <% 3.times do %> <i class="fa fa-circle-thin"> </i> <% end %> </div></li>
          <li>Adobe Illustrator
          <div> <% 2.times do %> <i class="fa fa-circle"></i> <% end %> <% 3.times do %> <i class="fa fa-circle-thin"> </i> <% end %> </div></li>
          <li>Photoshop
          <div> <% 2.times do %> <i class="fa fa-circle"></i> <% end %> <% 3.times do %> <i class="fa fa-circle-thin"> </i> <% end %> </div></li>
        </ul>
      </div>
    </div> <!-- end of row -->

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 lang-list">
        <h2 class="text-center" style="margin-top: 0px">Languages</h2>
        <ul>
          <li><div><span class="pink">English</span> (mother tongue)</div><div>100%</div></li>
          <li><div><span class="pink">French</span> (degree-level)</div><div>90%</div></li>
          <li><div><span class="pink">Portuguese</span> (lived there)</div><div>60%</div></li>
          <li><div><span class="pink">Spanish</span> (casual)</div><div>50%</div></li>
          <li><div><span class="pink">Mandarin</span> (10 weeks)</div><div>5%</div></li>
          <li><div><span class="pink">Arabic</span> (for fun)</div><div>5%</div></li>
        </ul>
      </div>
    </div> <!-- end of row -->

    <div class="row">
      <div class="col-xs-12">
        <div class="pink-caret text-center">
          <%= link_to '#contact', class: "hvr-hang" do %>
            <%= image_tag('pink-caret.png') %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="portfolio">
  <h1 class="text-center">Portfolio</h1>
  <div class="container">
    <h2 class="text-center">Sportl</h2>
    <%= link_to image_path('sportl-home.png'), class: "swipebox", rel: "sportl" do %>
      <%= image_tag('sportl-home.png', class: "small-img") %>
    <% end %>

    <%= link_to image_path('sportl-show.png'), class: "swipebox", rel: "sportl" do %>
      <%= image_tag('sportl-show.png', class: "small-img") %>
    <% end %>

    <%= link_to image_path('sportl-chat.png'), class: "swipebox", rel: "sportl" do %>
      <%= image_tag('sportl-chat.png', class: "small-img") %>
    <% end %>

    <h2 class="text-center">Fluffies</h2>

    <%= link_to image_path('fluffies-home.png'), class: "swipebox", rel: "fluffes" do %>
      <%= image_tag('fluffies-home.png', class: "small-img") %>
    <% end %>

    <%= link_to image_path('fluffies-show.png'), class: "swipebox", rel: "fluffies" do %>
      <%= image_tag('sportl-show.png', class: "small-img") %>
    <% end %>
    <%= link_to image_path('fluffies-profile.png'), class: "swipebox", rel: "fluffies" do %>
      <%= image_tag('fluffies-profile.png', class: "small-img") %>
    <% end %>

    <h2 class="text-center">Group Action</h2>

    <%= link_to image_path('group-action-home.png'), class: "swipebox", rel: "ga" do %>
      <%= image_tag('group-action-home.png', class: "small-img") %>
    <% end %>

    <%= link_to image_path('group-action.png'), class: "swipebox", rel: "ga" do %>
      <%= image_tag('group-action.png', class: "small-img") %>
    <% end %>
  </div>
</div>


<div class="background-image"  style="background-image: url(' <%= image_path('telephone.jpg') %> '); background-size: cover; background-position: center">
  <div class="container" id="contact">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6 contact-details">
        <h2>Contact me</h2>
        <div class="detail"><div><i class="fa fa-phone"></i></div><div><p>+447 397 286 856</p></div></div>
        <div class="detail"><div><i class="fa fa-envelope"></i></div><div><p>cat.r.oxley@gmail.com</p></div></div>
      </div>
    </div>
  </div>
</div>
<!-- hi -->
<script>
<%= content_for(:after_js) do %>
  <%= javascript_tag do %>
    smoothScroll.init({
      selector: 'a[href^="#"]'
    });
    ;( function( $ ) {

      $( '.swipebox' ).swipebox();

    } )( jQuery );
  <% end %>
<% end %>
</script>
