<%= render "shared/loading-screen" %>
<div class="main_content">
<div class="welcome_banner" style="position:relative">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="header_text">CAT OXLEY</h1>
        <div class="text-center">
          <%= image_tag('photo-of-cat-color.jpg', class: "full-img") %>
        </div>
      </div>
      <div class="welcome_text col-sm-6">
        <h1>Hello, I'm Cat. I'm <span class="inset_boxshadow" id="typed_box"></span></h1>
      </div>
    </div>
  </div>

</div>

<div id="about_me">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>A little about me. I'm a Web Developer from the <span id="yorkshire"><%= image_tag('yorkshire.jpg', class: "span-img") %>Yorkshire Dales<sup>1</sup></span>, currently based in <span id="london"><%= image_tag('london.jpg', class: "span-img") %>London<sup>2</sup></span>. I love clean code and beautiful design, whatever the platform - no site deserves to be ugly.
        <br/>
        <br/>
        (Other - less relevant - interests include <span id="interior_design"><%= image_tag('interior_design.jpg', class: "span-img") %>cosy interiors<sup>3</sup></span>, <span id="doggies"><%= image_tag('doggies.jpg', class: "span-img") %>doggies<sup>4</sup></span>, <span id="baking"><%= image_tag('baking.jpg', class: "span-img") %>baking<sup>5</sup></span> and <span id="jane_austen"><%= image_tag('austen.jpg', class: "span-img") %>Jane Austen<sup>6</sup></span>).
        <br/>
        <br/>
        Please check out some of the work I've done below.</p>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div id="portfolio">

    <h1 class="brand-color text-right">PORTFOLIO</h1>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">

        <div class="row pink-box" style="">

          <h2>Sportl</h2>

          <div class="col-sm-6">
            <%= link_to image_path('sportl-home.png'), class: "swipebox hvr-grow", rel: "sportl" do %>
              <%= image_tag('sportl-home.png', class: "small-img") %>
            <% end %>
            <div class="hidden">
              <%= link_to image_path('sportl-show.png'), class: "swipebox hvr-grow", rel: "sportl" do %>
                <%= image_tag('sportl-show.png', class: "small-img") %>
              <% end %>
            </div>
            <div class="hidden">
              <%= link_to image_path('sportl-chat.png'), class: "swipebox hvr-grow", rel: "sportl" do %>
                <%= image_tag('sportl-chat.png', class: "small-img") %>
              <% end %>
            </div>
          </div>

          <!-- col sm 6 -->
          <div class="col-sm-6">
            <p class="project-description">
              Lead front-end developer on Sportl - an app that aims to link teams and players together. My responsibilities included full UI design and front-end development.
              <br>
              <br>
              <%= image_tag('rails.png', class: 'grayscale') %>
              <%= image_tag('postgresql.png', class: 'grayscale') %>
              <%= image_tag('heroku.svg', class: 'grayscale') %>
              <%= image_tag('bootstrap.png', class: 'grayscale') %>
              <%= image_tag('sass.svg', class: 'grayscale') %>
            </p>
            </p>
          </div>
          <!-- col sm 6 -->
        </div>
        <!-- row -->

        <div class="row pink-box" style="">

          <h2>Diary Directory</h2>
          <div class="col-sm-6">
            <%= link_to image_path('diary-home.png'), class: "swipebox hvr-grow", rel: "diary" do %>
              <%= image_tag('diary-home.png', class: "small-img") %>
            <% end %>
            <div class="hidden">
            <%= link_to image_path('diary-news.png'), class: "swipebox hvr-grow", rel: "diary" do %>
              <%= image_tag('diary-news.png', class: "small-img") %>
            <% end %>
              <%= link_to image_path('diary-mobile-home.png'), class: "swipebox hvr-grow", rel: "diary" do %>
                <%= image_tag('diary-mobile-home.png', class: "small-img") %>
              <% end %>
              <%= link_to image_path('diary-mobile-menu.png'), class: "swipebox hvr-grow", rel: "diary" do %>
                <%= image_tag('diary-mobile-menu.png', class: "small-img") %>
              <% end %>
              <%= link_to image_path('diary-mobile-index.png'), class: "swipebox hvr-grow", rel: "diary" do %>
                <%= image_tag('diary-mobile-index.png', class: "small-img") %>
              <% end %>
            </div>
          </div>
          <!-- col sm 6 -->
          <div class="col-sm-6">
            <p class="project-description">
              Lead front-end developer on fashion directory, Diary Directory. Worked closely with both the creative director and backend team to realise the designs on this major redesign project.
              <br>
              <br>
              <%= image_tag('codeigniter.svg', class: 'grayscale') %>
              <%= image_tag('mysql.png', class: 'grayscale') %>
              <%= image_tag('bootstrap.png', class: 'grayscale') %>
              <%= image_tag('sass.svg', class: 'grayscale') %>
            </p>
            </p>
          </div>
          <!-- col sm 6 -->
        </div>
        <!-- row -->

        <div class="row pink-box" style="">

          <h2>UKJFF</h2>
          <div class="col-sm-6">
            <%= link_to image_path('ukjff-index.png'), class: "swipebox hvr-grow", rel: "ukjff" do %>
              <%= image_tag('ukjff-index.png', class: "small-img") %>
            <% end %>
            <div class="hidden">
              <%= link_to image_path('ukjff-show.png'), class: "swipebox hvr-grow", rel: "ukjff" do %>
                <%= image_tag('ukjff-show.png', class: "small-img") %>
              <% end %>
            </div>
          </div>
          <!-- col sm 6 -->
          <div class="col-sm-6">
            <p class="project-description">
              Lead front-end developer on UK Jewish Film Festival booking system. Worked closely with the client to create an accessible site for all age-groups. Launching soon.
              <br>
              <br>
              <%= image_tag('codeigniter.svg', class: 'grayscale') %>
              <%= image_tag('mysql.png', class: 'grayscale') %>
              <%= image_tag('bootstrap.png', class: 'grayscale') %>
              <%= image_tag('sass.svg', class: 'grayscale') %>
            </p>
            </p>
          </div>
          <!-- col sm 6 -->
        </div>
        <!-- row -->

        <div class="row pink-box" style="">
          <h2>Sweat by BXR</h2>
          <div class="col-sm-6">
            <%= link_to image_path('sweat-timetable.png'), class: "swipebox hvr-grow", rel: "sweat" do %>
              <%= image_tag('sweat-timetable.png', class: "small-img") %>
            <% end %>
            <div class="hidden">
              <%= link_to image_path('sweat-timetable-mobile.png'), class: "swipebox hvr-grow", rel: "sweat" do %>
                <%= image_tag('sweat-timetable-mobile.png', class: "small-img") %>
              <% end %>
              <%= link_to image_path('buy-a-sweatpack.png'), class: "swipebox hvr-grow", rel: "sweat" do %>
                <%= image_tag('buy-a-sweatpack.png', class: "small-img") %>
              <% end %>
            </div>
          </div>
          <!-- col sm 6 -->
          <div class="col-sm-6">
            <p class="project-description">
              Developer of Sweat by BXR's timetable and account components. Co-ordinated API integration with MindBody and responsible for client liason.
              <br>
              <br>
              <%= image_tag('php.svg', class: 'grayscale') %>
              <%= image_tag('sass.svg', class: 'grayscale') %>
              <%= image_tag('bootstrap.png', class: 'grayscale') %>
              <%= image_tag('mindbody.png', class: 'grayscale') %>
            </p>
            </p>
          </div>
          <!-- col sm 6 -->
        </div>
        <!-- row -->

        <div class="row pink-box" style="">

          <h2>Rachel London</h2>
          <div class="col-sm-6">
            <%= link_to image_path('rachel-home.png'), class: "swipebox hvr-grow", rel: "rachel" do %>
              <%= image_tag('rachel-home.png', class: "small-img") %>
            <% end %>
            <div class="hidden">
              <%= link_to image_path('rachel-lookbook.png'), class: "swipebox hvr-grow", rel: "rachel" do %>
                <%= image_tag('rachel-lookbook.png', class: "small-img") %>
              <% end %>
              <%= link_to image_path('rachel-masonry.png'), class: "swipebox hvr-grow", rel: "rachel" do %>
                <%= image_tag('rachel-masonry.png', class: "small-img") %>
              <% end %>
              <%= link_to image_path('rachel-stockists.png'), class: "swipebox hvr-grow", rel: "rachel" do %>
                <%= image_tag('rachel-stockists.png', class: "small-img") %>
              <% end %>
            </div>
          </div>
          <!-- col sm 6 -->
          <div class="col-sm-6">
            <p class="project-description">
              High-end Shopify site with custom-built lookbook and blog. These sections needed to blend stylishly into the existing site whilst allowing the client to edit them easily. Worked with the client to create a sleek slider lookbook and masonry-style blog section.
              <br>
              <br>
              <%= image_tag('shopify.png', class: 'grayscale') %>
            </p>
            </p>
          </div>
          <!-- col sm 6 -->
        </div>
        <!-- row -->



      </div>
      <!-- col-sm-10 -->
    </div>
    <!-- row -->
  </div>
    <!-- #portfolio -->
</div>
  <!-- container -->

<div id="contact"></div>
</div>
<script>
<%= content_for(:after_js) do %>
  <%= javascript_tag do %>
    window.setTimeout(function() {
      $(".loading_screen").css("display", "none");
    }, 11000);
    smoothScroll.init({
      selector: 'a[href^="#"]'
    });
    ;( function( $ ) {

      $( '.swipebox' ).swipebox();

    } )( jQuery );

    var typed = new Typed('#typed_box', {
      strings: ["a web developer", "a designer", "a coder", "a doggy-lover", "a baker", "looking forward to working with you"],
      startDelay: 10000,
      typeSpeed: 80,
    });

    function setFooterHeight() {
      var footerParaHeight = $("footer").height() + 70;
      $(".main_content").css("margin-bottom",footerParaHeight);
    }
    $(window).resize(function() {
      setFooterHeight();
    });
    setFooterHeight();
  <% end %>
<% end %>
</script>
